body {
    font-family: Verdana, sans-serif;
    padding: 20px;
}

form {
    margin-bottom: 15px;
}

#error {
    margin-bottom: 15px;
    color: red;
}

#save-status {
    margin-bottom: 15px;
}

#resource {
    width: 750px;
}

.hidden {
    visibility: hidden;
    display: none;
}

#recent-items-list li:hover {
    cursor: pointer;
}

#menu-button, #load-button, #clear-recent-items-button {
    background-color: #eab676;
    border-color: #eab676;
}

form {
    margin-top: 20px;
}

#clear-recent-items-button {
    margin-top: 20px;
}

.list-group-item {
    font-size: 14px !important;
}

#recent-items-list {
    margin-left: -15px;
}
